<template>
  <div class="todo-item">
    <input type='checkbox' v-model="todo.checked">
    {{this.todo.text}}
    <span class='timeago'>
      - <timeago :datetime="todo.createdAt" :auto-update="60"></timeago>
    </span>
    <button type="button" class="btn-delete" @click="deleteTodo()">
      <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 3h6v-1.75c0-.066-.026-.13-.073-.177-.047-.047-.111-.073-.177-.073h-5.5c-.066 0-.13.026-.177.073-.047.047-.073.111-.073.177v1.75zm11 1h-16v18c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-18zm-10 3.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm5 0c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm8-4.5v1h-2v18c0 1.105-.895 2-2 2h-14c-1.105 0-2-.895-2-2v-18h-2v-1h7v-2c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v2h7z"/></svg>
    </button>
  </div>
</template>

<script>
export default {
  name: 'ToDoItem',
  props: {
    todo: {
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  methods: {
    deleteTodo () {
      this.$store.dispatch('removeTodo', this.index)
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">
  .todo-item
    margin-bottom .6rem
    .timeago
      opacity .5
      font-size .8em
      font-weight 200
      padding-right .5rem

    .btn-delete
      cursor pointer
      color #fff
      background-color #ddd
      padding .17rem .5rem
      &:hover
        background-color #bbb
      border 1px solid #d2d2d2
      border-radius .2rem

</style>
